<template lang="pug">
  div
    div
      v-row.ma-0.pa-0(align="center")
        v-col(cols="4")
          span Auction date
        v-col(cols="8")
          v-select.pa-0(
            hide-details
            placeholder="Select auction date"
            @input="auctionDate = $event"
            :value="auctionDate"
            :items="auctionDates"
          )
    div
      v-row.ma-0.pa-0(align="center")
        v-col(cols="4")
          span Customer
        v-col(cols="8")
          v-select.pa-0(
            hide-details
            placeholder="Select customer"
            @input="customer = $event"
            :value="customer"
            :items="customers"
          )
    bottom-container(:bottom="'56px'")
      v-btn.button-bottom(
        width="100%"
        height="56"
        color="orange"
        @click="navigateToDetail"
      )
        span.white--text Save and create detail
</template>
<script lang="ts">
import { defineComponent, Ref, ref } from '@vue/composition-api'
import { BottomContainer } from 'components'
import { urlPath } from 'utils'
import { AUCTION_DATES, CUSTOMERS } from './addOrder'

interface SetUp {
  auctionDates: Array<string>
  customers: Array<string>
  auctionDate: Ref<string>
  customer: Ref<string>
  navigateToDetail: () => void
}

const AddOrder = defineComponent({
  components: {
    BottomContainer
  },
  props: {},
  setup(props, { root }): SetUp {
    const auctionDates = AUCTION_DATES
    const customers = CUSTOMERS
    const auctionDate = ref('')
    const customer = ref('')

    const navigateToDetail = (): void => {
      root.$router.push({
        name: urlPath.CREATE_ORDER_DETAIL.name,
        query: {
          subtitle: `${auctionDate.value} ${customer.value}`
        }
      })
    }
    return {
      auctionDates,
      customers,
      auctionDate,
      customer,
      navigateToDetail
    }
  }
})
export default AddOrder
</script>

<style scoped lang="sass">
@import '../../styles/button.sass'
</style>
