<template lang="pug">
  div.color
    v-col
      v-row(align="center" justify="center")
        v-btn.mx-2(
          fab
          dark
          :color="color.code"
          :width="size === 'large' ? '50px' : '20px'"
          :height="size === 'large' ? '50px' : '20px'"
          :elevation="size === 'large' ? 2 : 0"
           @click="selectColor()"
        )
          v-icon(dark v-if="size === 'large'") {{choose ? 'mdi-check' : ''}}
      v-row(align="center" justify="center")
        span.mt-2(v-if="size === 'large'" :class="choose ? 'red--text' : 'gray--text'") {{color.name}}
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from '@vue/composition-api'

interface SetUp {
  choose: Ref<boolean>
  selectColor(): void
}

const ColorCircle = defineComponent({
  props: {
    color: {
      type: Object,
      required: true
    },
    size: {
      type: String,
      required: false,
      default: 'large'
    },
    selected: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  setup(props, { emit }): SetUp {
    const choose = ref(props.selected)

    const selectColor = (): void => {
      choose.value = !choose.value
      emit('on-selected', props.color)
    }
    return {
      choose,
      selectColor
    }
  }
})
export default ColorCircle
</script>

<style scoped>
.color {
  display: flex;
  justify-content: space-around;
}
</style>
