<template lang="pug">
  div.pa-2
    v-text-field(
      solo
      filled
      hide-details
      label='item name, name_eng, short_name or tags searching'
      prepend-inner-icon="mdi-magnify"
      v-model="searchInfo"
      @input="search"
    )
    div(v-if="searchInfo")
      v-row.ma-0(align='center' justify='center' v-for="item in searchedItems")
        v-col(cols="4")
        v-col.pa-0.divider-left(cols="8")
          v-list-item(@click="updateSelectedItem(item)")
            v-icon mdi-star
            span {{`. ${item.name}`}}
          v-divider
      v-divider
    div(v-for="item in items")
      v-list-item(@click="updateSelectedItem(item)")
        span {{item.name}}
      v-divider
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from '@vue/composition-api'

import { ITEMS } from './items'
import { VARIETIES } from './varieties'
import { UNITS } from './units'
import { SIZES } from './sizes'
import { QUALITIES } from './qualities'

interface Property {
  id: number
  name: string
}

interface SetUp {
  searchInfo: Ref<string>
  items: Array<Property>
  searchedItems: Ref<Array<Property>>
  updateSelectedItem: (selectedProperty: Property) => void
  search: () => void
}

const ChooseItem = defineComponent({
  props: {},
  setup(props, { root }): SetUp {
    let items: Array<Property> = []
    switch (root.$route.query.subtitle) {
      case 'item':
        items = ITEMS
        break
      case 'variety':
        items = VARIETIES
        break
      case 'unit':
        items = UNITS
        break
      case 'size':
        items = SIZES
        break
      case 'quality':
        items = QUALITIES
        break
      default:
    }
    const searchedItems: Ref<Array<Property>> = ref([])
    const searchInfo = ref('')
    const orderDetail = ref(root.$store.state.order.detail)

    const updateSelectedItem = (selectedProperty: Property): void => {
      switch (root.$route.query.subtitle) {
        case 'item':
          orderDetail.value.item = selectedProperty.name
          break
        case 'variety':
          orderDetail.value.variety = selectedProperty.name
          break
        case 'unit':
          orderDetail.value.unit = selectedProperty.name
          break
        case 'size':
          orderDetail.value.size = selectedProperty.name
          break
        case 'quality':
          orderDetail.value.quality = selectedProperty.name
          break
        default:
      }
      root.$router.back()
    }

    const search = (): void => {
      const searchText = searchInfo.value.toLowerCase()
      searchedItems.value = items.filter((item): boolean => {
        const name = item.name.toLowerCase()

        return name.indexOf(searchText) !== -1
      })
    }
    return {
      searchInfo,
      items,
      searchedItems,
      updateSelectedItem,
      search
    }
  }
})
export default ChooseItem
</script>

<style scoped>
.divider-left {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #ededed;
}
</style>
