<template lang="pug">
  div
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span 品目
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseProperty('item')")
            span.grey--text(v-if="!orderDetail.item") select item
            span(v-if="orderDetail.item") {{orderDetail.item}}
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span 品種
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseProperty('variety')")
            span.grey--text(v-if="!orderDetail.variety") select variety
            span(v-if="orderDetail.variety") {{orderDetail.variety}}
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self='center')
        span 色
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseColor")
            span.grey--text(v-if="!orderDetail.colors.length") select color
            color-circle(v-for="item in orderDetail.colors" :color="item" size='small')
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self='center')
        span 等級
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseProperty('quality')")
            span.grey--text(v-if="!orderDetail.quality") select quality
            span(v-if="orderDetail.quality") {{orderDetail.quality}}
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span サイズ
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseProperty('size')")
            span.grey--text(v-if="!orderDetail.size") select size
            span(v-if="orderDetail.size") {{orderDetail.size}}
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span 入数
      v-col(cols='7' align-self='center')
        v-row(justify='end' v-if="fillQuantityNumber === false")
          v-list-item.pa-0.list-item(@click="fillQuantityNumber = true")
            span.grey--text(v-if="!orderDetail.quantity") fill quantity
            span(v-if="orderDetail.quantity") {{orderDetail.quantity}}
            v-icon(large) mdi-chevron-down
        v-row(justify='end' align='center' v-if="fillQuantityNumber === true")
          v-text-field.pa-3(
            reverse
            solo
            hide-details
            autofocus
            v-model="orderDetail.quantity"
            @input="orderDetail.quantity = $event"
            @blur="fillQuantityNumber = false"
            @click="fillQuantityNumber = false"
          )

    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span 単位
      v-col(cols='7' align-self='center')
        v-row(align='center')
          v-list-item.pa-0.list-item(@click="chooseProperty('unit')")
            span.grey--text(v-if="!orderDetail.unit") select unit
            span(v-if="orderDetail.unit") {{orderDetail.unit}}
            v-icon(large) mdi-chevron-down
    v-divider
    v-row.ma-0(align='center' justify='center')
      v-col(cols="4" align-self="center")
        span 数量
      v-col(cols='7' align-self='center')
        v-row(justify='end' v-if="fillBoxNumber === false")
          v-list-item.pa-0.list-item(@click="fillBoxNumber = true")
            span.grey--text(v-if="!orderDetail.boxes") fill box number
            span(v-if="orderDetail.boxes") {{orderDetail.boxes}}
            v-icon(large) mdi-chevron-down
        v-row(justify='end' align='center' v-if="fillBoxNumber === true")
          v-text-field.pa-3(
            reverse
            solo
            hide-details
            autofocus
            v-model="orderDetail.boxes"
            @input="orderDetail.boxes = $event"
            @blur="fillBoxNumber = false"
            @click="fillBoxNumber = false"
          )
    v-divider

    bottom-container(:bottom="'56px'")
      v-row.ma-0
        v-col.ma-0.pa-0(cols="4")
          v-btn.button-bottom(
            x-large
            color="white"
            class="orange--text"
            width="100%"
          )
            span 登録
        v-col.ma-0.pa-0(cols="4")
          v-btn.button-bottom(
            x-large
            color="orange"
            class="white--text"
            width="100%"
          )
            span 登録&連続入力
        v-col.ma-0.pa-0(cols="4")
          v-btn.button-bottom(
            x-large
            color="white"
            class="orange--text"
            width="100%"
          )
            span 登録&コピー
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { ColorCircle, BottomContainer } from 'components'
import { urlPath } from 'utils'
import { Order } from 'typings'

interface SetUp {
  orderDetail: Order
  chooseColor: () => void
  chooseProperty: (property: string) => void
  fillBoxNumber: boolean
  fillQuantityNumber: boolean
}

const CreateOrderDetail = defineComponent({
  components: {
    ColorCircle,
    BottomContainer
  },
  setup(props, { root }): SetUp {
    const orderDetail = root.$store.state.order.detail
    const fillQuantityNumber = false
    const fillBoxNumber = false

    const chooseColor = (): void => {
      root.$router.push({
        name: urlPath.CHOOSE_COLOR.name
      })
    }
    const chooseProperty = (property: string) => {
      root.$router.push({
        name: urlPath.CHOOSE_PROPERTY.name,
        query: {
          subtitle: property
        }
      })
    }
    return {
      orderDetail,
      fillBoxNumber,
      fillQuantityNumber,
      chooseColor,
      chooseProperty
    }
  }
})
export default CreateOrderDetail
</script>

<style scoped lang="sass">
@import '../../styles/button.sass'

.list-item
  flex-grow: 0
  justify-content: flex-end
</style>
