<template lang="pug">
  div
    div.color-container
      div.color-item(v-for="item in colors")
        color-circle(
          :color="item"
          :selected="isSelectedColor(item) !== -1"
          @on-selected="updateColorList"
        )
    bottom-container(:bottom="'56px'")
      v-btn.button-bottom(
        x-large
        width="100%"
        color="orange"
        @click="save"
      )
        span.white--text Save
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { ColorCircle, BottomContainer } from 'components'
import { Color } from 'typings'
import { COLORS } from './colors'

interface SetUp {
  colors: Array<Color>
  selectedColors: Array<Color>
  updateColorList: (selectedColor: Color) => void
  isSelectedColor: (item: Color) => number
  save: () => void
}

const ChooseColor = defineComponent({
  components: {
    ColorCircle,
    BottomContainer
  },
  props: {},
  setup(props, { root }): SetUp {
    const colors = COLORS
    const { detail } = root.$store.state.order
    const selectedColors = detail.colors

    const isSelectedColor = (item: Color): number => {
      let position = -1
      selectedColors.forEach((selectedColor: Color, index: number) => {
        if (selectedColor.code === item.code) {
          position = index
        }
      })
      return position
    }

    const updateColorList = (color: Color): void => {
      root.$store.commit('updateSelectedColors', color)
    }

    const save = (): void => {
      root.$router.back()
    }

    return {
      colors,
      selectedColors,
      updateColorList,
      isSelectedColor,
      save
    }
  }
})
export default ChooseColor
</script>

<style scoped lang="sass">
@import '../../styles/button.sass'

.color-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin-top: 10px

.color-item
  width: 25%
  margin-top: 10px
</style>
